﻿.row-header {
    margin: 0px auto;
    padding: 0px auto;    
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px inset #BFEDBE;
    min-height: 200px;
}
.row-content-without-border {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 200px;
}


.row-content-for-table {
     margin: 0px auto;
    padding: 10px 10px 10px 10px;
    min-height: 200px;
}

.row-content-up-space {
    margin: 0px auto;
    padding: 50px 0px 0px 0px;

   /* min-height: 100px;*/
}


.footer {
    background-color: #82D8B9;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
}

.jumbotron{
    padding: 60px 30px 40px 30px;
    margin: 0px auto;
    background: #35D4A4;
    color: floralwhite;
    min-height: 110px
}

.addres{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-inverse {
    background-color: #00A876;
    opacity: .97;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    align-items: center;
    
   }

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 35px; /* Отступ слева */
    margin-left: 35px;
    /*padding: 10px, 25px, 50px, 555px ; /* Поля вокруг текста */
    align-content: center;
   }


.info-footer {
  display: block;
  overflow: hidden;
  text-align: center;
}

.copyright {
    
    text-align: left;
}

.small {
    text-align: center;
    font-size: 0.5;
    line-height: 0.1;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-center {
    /*
    position:relative;
    top: 65%;
    transform: translateY(35%); 
    
    padding-bottom:50px;
    */
    
}

.text-buttom {
    display:table-cell;
    vertical-align:bottom;
}

.stroke {
    font: bold  Arial, sans-serif;
    color: #00A876;
    text-shadow: #7CF49A 1px 1px 0, #7CF49A 2px 2px 0, 
                 #7CF49A 3px 3px 0, #7CF49A 4px 4px 0, 
                 #7CF49A 4px 4px 0;
   }

.jamb-button {
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}

.contact-item {
    
    font-size: 6;
    font-weight: 600;
    color: #35D4A4;
}

 #map {
          
          height: 500px;
          width: 100%;
       }

.carousel {
    padding: 0px 0px 20px 0px;
}

.carousel-item {
   
    width: 100%;
    
    height: 100%;
   /* max-height: 900px;*/
    
}

.carousel-item img {
    align-content: center;
    vertical-align: middle;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

.img-fluid {
  width: 100%;
  height: width/2;
}

.carousel-caption {
    text-align: left
    
}

.card-style {
    padding: 7px 7px 7px 7px;
    width: 16rem;
}

.card {
    min-width: 300px;
    max-width: 500px;
}

.card-deck {
    align-items: flex-start;
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
}

.italic{
	font-style: italic; 
}
	
.dropdown-menu {
    min-width: 230px;
    background: #26ab83;
    opacity: .94;
    margin: 5px auto;
    padding: 10px 5px 10px 5px;
    border-bottom: 0px ridge;
    font: #26ab83;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.zoom {
    position: relative;
    overflow: hidden;    
}

.zoom:hover img{
    transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform:scale(1.1); 
}

.zoom img{
    transition: all 0.3s;
    -mox-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.todo{
    color: red;
    font-weight: bold;
    
}


.card-img-top{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    align-content: center;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #35D4A4;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
}

#myBtn:hover {
  background-color: #00A876;
}


.pSpace {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }

.box {
    background: #00c98e; /* Цвет фона */
    opacity: .85;
    color: #fff; /* Цвет текста */
    padding: 6px; /* Поля вокруг текста */
    border-radius: 0 15px;
    text-align: center;
    display:inline-block;
    
    
    position: relative;
    top: 75%;
    
   }

.center-text{
    text-align:center;
}

.relative-center {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-padding{
     padding: 0px 0px 10px 0px;
}

.v-card{
    padding: 130px 0px 0px 0px;
    height: 350px;
}

.icon-cog {
  color: white;
}

.phone-qr-img {
    max-height: 180px;
    padding: 10px 10px 10px 10px
}


.modal-header {
    background: #35D4A4;
}

.modal-title {
    color: white
}

.padding-div {
    padding: 10px 10px 10px 10px
}

.margin-div {
    margin-bottom: 10px;
    margin-top: 10px;
}
